<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel App</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/src/client/styles/logo.jpg" alt="logo">
        </div>
        <div class="title">
            please enter the City & Date that you would like to Travel:
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return app(event)">
                <div id="err"></div>
                <br>
                <label for="city" id="city_title">Enter the city name:</label>
                <input id="place" type="text" name="input" value="" placeholder="enter a place">
                <label for="Date" id="date_title">Enter the Date:(mandatory template)</label>
                <input id="date" type="date" name="input" value="" placeholder="mm/dd/yyyy">
                <input type="submit" id="button" name="button" value="Generat" onclick="return Client.app(event)" onsubmit="return app(event)">
            </form>
            <br>

        </section>

        <div id="app">
            <div class="holder-headline"> Travel Planner </div>

            <div class="holder-entry">
                <div class="title">pic temp title
                    <img src="pic.jpg" alt="placePic">
                </div>
                <div id="entryHolder">
                    <div id="tripLocationTitle">Plan Trip to:</div>
                    <div id="tripLocation"></div>
                    <div id="typicalWeatherTitle">Typical weather for then is:</div>
                    <div id="typicalWeather"></div>
                    <div id="counterTitle">counter to your Travel:</div>
                    <div id="counter"></div>
                </div>

            </div>

        </div>

    </main>
    <footer>
        <p>Liran weisbord - project num# 6</p>
    </footer>
</body>

</html>