<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel App</title>
</head>

<body class="container">
    <header>
        <div class="logo">
            <img src="/src/client/styles/logo.jpg" alt="logo">
        </div>
        <div class="title">
            Visit & Find your next adventure , World's Best Places
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="Client.app(event)">
                <br>
                <label for="city" id="city_title">Enter the city name:</label>
                <input id="place" type="text" name="input" value="" placeholder="enter a place">
                <div id="placeERR"> </div>
                <label for="Date" id="date_title">Date of Departure:</label>
                <input id="date" type="date" name="input" value="" placeholder="mm/dd/yyyy">
                <div id="dateERR"> </div>
                <input type="submit" id="button" name="button" value="Generate">
            </form>
            <br>

        </section>

        <div id="app">
            <div class="holder-headline"> Travel Planner </div>

            <div class="holder-entry">
                <div class="city_picture">
                    <img id=city_img>
                </div>
                <div id="entryHolder">
                    <div id="tripLocationTitle">Plan Trip to:</div>
                    <div id="tripLocation"></div>
                    <div id="typicalWeatherTitle">The temperature for then is:</div>
                    <div id="typicalWeather"></div>
                    <div id="counterTitle">counter to your Travel:</div>
                    <div id="counter"> </div>
                </div>

            </div>

        </div>

    </main>
    <footer>
        <p>Liran weisbord - project num# 6</p>
        <div>
            <button id="printBTN" onclick="window.print()">Print this page</button>
        </div>
        <div>
            <button id=toDoBTN> <a href="todoPage.html" title="go to toDo list">My ToDo list</a></button>
        </div>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            console.log("service worker test")
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>