<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ToDo List for TravelApp</title>
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
    <div class="small-container" onsubmit="return toDo(e)">
        <h1>My ToDo list: </h1>

        <form>
            <input id="item" type="text" placeholder="New" required />
        </form>

        <h2>Items</h2>
        <ul></ul>

        <button>Clear All</button>
    </div>
    <div class="backButton">
        <button id="backbtn"><a href="index.html">back to Travel</button></a>
    </div>
    <!-- <script src="./js/toDo.js"></script> -->
</body>

</html>