<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List for TravelApp</title>
</head>

<body>
    <div class="toDo-container" onclick="return Client.toDo(e)" onsubmit="return toDo(e)">
        <h1>My ToDo list: </h1>

        <form>
            <input id="item" type="text" placeholder="New" required />
        </form>

        <h2>Items</h2>
        <ul></ul>

        <button>Clear All</button>
    </div>
    <footer>
        <p>Liran weisbord - project num# 6-Page 2 </p>
        <div class="backButton">
            <button id="backbtn"><a href="/index.html">back to Travel</button></a>
        </div>
    </footer>
</body>

</html>