body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #488999;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

#subjectivity_confidence {
    font-weight: bold;
    font-size: large;
}