footer {
    display: flex;
    flex-direction: inline;
    background-color: rgb(86, 117, 86);
    height: 40px;
    color: aliceblue;
    font-family: cursive;
}

#printBTN {
    display: flex;
    position: relative;
    width: 130px;
    background-color: #165bf0;
    color: aliceblue;
    border-radius: 15px;
    place-content: center;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    border: 15PX;
}

#toDoBTN {
    width: 130px;
    border-radius: 15px;
    place-content: center;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    border: 15PX;
}

#backbtn {
    width: 130px;
    border-radius: 15px;
    place-content: center;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    border: 15PX;
}