body {
    background: #c9c9c9;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.toDo-container {
    background-color: coral;
}

#app {
    display: flex;
    background: #615151;
    width: -webkit-fill-available;
    color: #ddbf14;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder-entry {
    display: flex;
}

.entry {
    background: rgba(59, 74, 107, .4);
}

#entryHolder {
    display: block;
    font-size: 27px;
}

.title {
    display: block;
    font-size: 27px;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 27px;
}

#place {
    display: inline-block;
    color: black;
    background-color: rgb(255, 255, 255);
}

#city_title {
    display: block;
    font-size: 20px;
}

#city_img {
    display: inline-flex;
}

#date_title {
    display: block;
    font-size: 20px;
}

input {
    height: 30px;
    width: 320px;
    color: #000000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

#button {
    width: 250px;
    height: 50px;
    background-color: #165bf0;
    color: aliceblue;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    border: 15PX;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #444;
    margin-left: 55px;
}

h1 {
    font-size: 36px;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #050505;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #080808;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000;
    font-family: 'Oswald', sans-serif;
}

#tripLocationTitle {
    color: #fafafa;
}

#typicalWeatherTitle {
    color: #fafafa;
}

#counterTitle {
    color: #fafafa;
}

.holder-headline {
    display: inline-flex;
    background-color: #567556;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
    font-size: x-large;
    font-family: cursive;
    color: aliceblue;
}