header {
    display: flex;
    padding: 10px 40px;
}

.logo {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: auto;
    font-size: xxx-large;
    font-style: normal;
    font-family: cursive;
}